# Application

NODE_ENV=development
PORT=5000

# Database

MONGODB_URI=mongodb://localhost:27017/bc-smart-lifestyle

# JWT

JWT_SECRET=your_dev_secret
JWT_EXPIRES_IN=7d

# Socket.IO

SOCKET_PORT=5001

# MQTT

MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_CLIENT_ID=bc-smart-lifestyle-dev

# Drone

DRONE_SIMULATION_MODE=true

# Frontend URL

CLIENT_URL=http://localhost:3000
